<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * IronMQ
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@sumoheavy.com so we can send you a copy immediately.
 *
 *
 * @category    SUMOHeavy
 * @package     SUMOHeavy_IronMQ
 * @author      Robert Brodie <robert@sumoheavy.com>
 * @copyright   Copyright (c) 2010 - 2013 SUMO Heavy Industries, LLC
 * @license     http://www.opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <SUMOHeavy_IronMQ>
            <version>1.0.0</version>
        </SUMOHeavy_IronMQ>
    </modules>

    <global>
        <models>
            <sumoheavy_ironmq>
                <class>SUMOHeavy_IronMQ_Model</class>
            </sumoheavy_ironmq>
        </models>
        <blocks>
            <sumoheavy_ironmq>
                <class>SUMOHeavy_IronMQ_Block</class>
            </sumoheavy_ironmq>
        </blocks>
        <helpers>
            <sumoheavy_ironmq>
                <class>SUMOHeavy_IronMQ_Helper</class>
            </sumoheavy_ironmq>
        </helpers>
    </global>

    <admin>
        <routers>
            <sumoheavy_ironmq>
                <use>admin</use>
                <args>
                    <module>SUMOHeavy_IronMQ</module>
                    <frontName>sumoheavy_ironmq</frontName>
                </args>
            </sumoheavy_ironmq>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <sumoheavy_ironmq>
                    <file>sumoheavy/ironmq.xml</file>
                </sumoheavy_ironmq>
            </updates>
        </layout>
    </adminhtml>
</config>
